# Environment
.env
*.pyc
__pycache__/
*.pyo

# Virtual environment
.venv/
venv/
env/

# Django
db.sqlite3
*.log
staticfiles/
media/

# Preview / dev helpers
preview.sqlite3
config/settings_preview.py

# IDE
.idea/
.vscode/
*.swp
