{% extends "admin/base.html" %}
{% load static site_branding %}

{% block extrahead %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lora:wght@400;700;800&family=DM+Sans:wght@400;500;600&display=swap" rel="stylesheet">
{% endblock %}

{% block extrastyle %}
<link rel="stylesheet" href="{% static 'css/admin_theme.css' %}">
{% endblock %}

{% block site_title %}{% get_site_config as config %}{{ config.site_name }}{% endblock %}

{% block branding %}
{% get_site_config as config %}
<h1 id="site-name">
  <a href="{% url 'admin:index' %}">
    {% if config.logo %}
    <img src="{{ config.logo }}" class="admin-brand-logo" alt="">
    {% endif %}
    {{ config.site_name }}
  </a>
</h1>
{% endblock %}
