{% extends "admin/change_form.html" %}

{% block object-tools-items %}
  {{ block.super }}
  {% if generate_schedule_url %}
  <li>
    <a href="{{ generate_schedule_url }}" class="historylink">Analyze / Generate Schedule</a>
  </li>
  {% endif %}
  {% if import_players_url %}
  <li>
    <a href="{{ import_players_url }}" class="historylink">Import Players</a>
  </li>
  {% endif %}
  {% if copy_players_url %}
  <li>
    <a href="{{ copy_players_url }}" class="historylink">Copy Players from Season</a>
  </li>
  {% endif %}
  {% if bulk_results_url %}
  <li>
    <a href="{{ bulk_results_url }}" class="historylink">Bulk Add Results</a>
  </li>
  {% endif %}
{% endblock %}
