{% extends "admin/change_form.html" %}

{% block object-tools-items %}
  {{ block.super }}
  {% if generate_schedule_url %}
  <li>
    <a href="{{ generate_schedule_url }}" class="historylink">Generate Schedule</a>
  </li>
  {% endif %}
  {% if import_players_url %}
  <li>
    <a href="{{ import_players_url }}" class="historylink">Import Players</a>
  </li>
  {% endif %}
  {% if export_url %}
  <li>
    <a href="{{ export_url }}" class="historylink">Export Season Data</a>
  </li>
  {% endif %}
  {% if import_url %}
  <li>
    <a href="{{ import_url }}" class="historylink">Import Season Data</a>
  </li>
  {% endif %}
  {% for item in generate_playoff_urls %}
  <li>
    <a href="{{ item.url }}" class="historylink">
      Generate Tier {{ item.tier }} Playoffs
    </a>
  </li>
  {% endfor %}
{% endblock %}
